<div class="nav-drawer" data-ng-controller="HomeController">
	<div class="top">
    <a data-ng-href="#!/users/{{user._id}}" class="user-card bg-white pv-21 relative">
      <div class="profile-pic col-xs-2">
        <span>
          <img data-ng-src="{{user.assets.profilePicURL}}" />
        </span>
      </div>
      <div class="info col-xs-10">
        <p>

          <span data-ng-href="#" class="name" >{{ user.personal.displayName }}</span><br><span class="job-position">{{user.organizational.currentJobPosition}}</span> en <span class="area">{{user.organizational.branch}}</span>
        </p>
      </div>
      <div class="item-go">
        <i class="icon-arrow-right-filled"></i>
      </div>
    </a>
  </div>
  <hr class="m-0">
  <div class="center bg-white">
  	<div class="list">
  		<!-- <a href="#!/vacancies" class="item item-icon-left">
  			<i class="icon-chart-filled bg-vacancies"></i>
  			<span>Oportunidades de cambio interno</span>
  		</a> -->
  		<a href="#!/events" class="item item-icon-left">
  			<i class="icon-calendar-filled bg-events"></i>
  			<span>Eventos</span>
  		</a>
  		<a href="#!/benefits" class="item item-icon-left">
  			<i class="icon-cart-filled bg-benefits"></i>
  			<span>Beneficios</span>
  		</a>
  		<a href="#!/birthdays" class="item item-icon-left">
  			<i class="icon-cake-filled bg-birthdays"></i>
  			<span>Cumpleaños</span>
  		</a>
  	</div>
  </div>
  <div class="bottom">
    <div class="list">
      <a href="/auth/signout" class="item item-icon-left">
        <i class="icon-power-filled text-danger"></i>
        <span>Salir</span>
      </a>
    </div>
  </div>
</div>