<div class="nav-drawer">
	<div class="top">
    <a data-ng-href="#" class="user-card bg-white pv-21">
      <div class="profile-pic col-xs-2">
        <span>
          <img src="assets/img/user-placeholder-2.png" />
        </span>
      </div>
      <div class="info col-xs-10">
        <p>
          <span data-ng-href="#" class="name" >{{ user.personal.displayName }}</span><br><span class="job-position">Gerente Gral.</span> en <span class="area">Tottus Atocongo</span>
        </p>
      </div>
    </a>
  </div>
  <hr class="m-0">
  <div class="center bg-white">
  	<div class="list">
  		<a href="#" class="item item-icon-left">
  			<i class="icon-chart-filled bg-vacancies"></i>
  			<span>Oportunidades de cambio interno</span>
  		</a>
  		<a href="#" class="item item-icon-left">
  			<i class="icon-calendar-filled bg-events"></i>
  			<span>Eventos</span>
  		</a>
  		<a href="#" class="item item-icon-left">
  			<i class="icon-cart-filled bg-benefits"></i>
  			<span>Beneficios</span>
  		</a>
  		<a href="#" class="item item-icon-left">
  			<i class="icon-cake-filled bg-birthdays"></i>
  			<span>Cumpleaños</span>
  		</a>
  	</div>
  </div>
  <div class="bottom"></div>
</div>