<div>
  <div class="user-auth-wrapper" data-ng-controller="AuthenticationController">
    <div class="flexbox-wrapper">
      <div class="logo">
        <a href="#"><img src="assets/img/logo-somos-tottus-vertical-light-lg.png" alt="SomosTottus"></a>
      </div>
      <div class="welcome-text">
        <h2>Bienvenido</h2>
        <p>Al parecer es tu primera vez en la plataforma.<br>Ingresa con tu <strong>DNI</strong> y tu <strong>contraseña temporal</strong> para continuar:</p>
      </div>
      <form class="form-custom-boxed" data-ng-submit="firstsignin()">
        <div class="user-new-form">
          <div class="form-group">
            <label for="username">DNI</label>
            <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username">
          </div>
          <div class="form-group">
            <label for="password">Contraseña Temporal</label>
            <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password">
          </div>
          <div class="form-group clearfix mb-0">
            <div class="col-xs-1 p-0 m-0">
              <input type="checkbox" id="terms" class="pull-left block" data-ng-model="credentials.acceptTerms"> 
            </div>
            <div class="col-xs-11 p-0 m-0">
              <label for="terms" class="text-primary bold pull-right">
                He leído los <a href="https://s3-sa-east-1.amazonaws.com/tottuscdn/docs/T%C3%A9rminos+y+condiciones.pdf" target="_blank" class="underline">términos y condiciones</a> de uso de la plataforma y estoy de acuerdo.
              </label>
            </div>
          </div>
          <div data-ng-show="error" class="text-center text-danger">
            <strong data-ng-bind="error"></strong>
          </div>
        </div>
        <input type="submit" class="btn form-control text-primary btn-lg" value="Regístrate">
      </form>
      <div class="to-login-switch">
        <p>¿Ya tienes una cuenta?</p>
        <a href="/#!/signin" class="text-white">Ingresa aquí</a>
      </div>
      <div class="copyright">
        <small>Hipermercados Tottus SA.</small>
      </div>
    </div>
  </div>
</div>
