<div class="site-wrapper bg-primary">
  <div class="user-auth-wrapper" data-ng-controller="AuthenticationController">
    <div class="flexbox-wrapper">
      <div class="logo">
        <a href="#"><img src="assets/img/logo-somos-tottus-vertical-light-lg.png" alt="SomosTottus"></a>
      </div>
      <div class="welcome-text">
        <h2>Bienvenido</h2>
        <p>Al parecer es tu primera vez en la plataforma.<br>Ingresa con tu <strong>DNI</strong> y tu <strong>contraseña temporal</strong> para continuar:</p>
      </div>
      <form class="form-custom-boxed" data-ng-submit="firstsignin()">
        <div class="user-new-form">
          <div class="form-group">
            <label for="username">DNI</label>
            <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="DNI">
            <div data-ng-show="error" class="text-danger">
              <small class="help-block" data-ng-bind="error"></small>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Contraseña Temporal</label>
            <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Contraseña Temporal">
          </div>
        </div>
        <input type="submit" class="btn form-control text-primary btn-lg" value="Regístrate">
      </form>
      <div class="to-login-switch">
        <p>¿Ya tienes una cuenta?</p>
        <a href="/#!/signin" class="text-white">Ingresa aquí</a>
      </div>
      <div class="copyright">
        <small>Hipermercados Tottus SAC</small>
      </div>
    </div>
  </div>
</div>