<div data-ng-controller="AuthenticationController"> 
  <div class="user-auth-wrapper">
    <div class="flexbox-wrapper">
      <div class="logo">
        <a href="#"><img src="assets/img/logo-somos-tottus-vertical-light-lg.png" alt="SomosTottus"></a>
      </div>
      <form class="form-custom-boxed" data-ng-submit="signin()" autocomplete="off">
        <div class="user-new-form">
          <h3>Ingresa</h3>
          <div class="form-group">
            <label for="username">DNI</label>
						<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username">
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
						<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password">
          </div>
          <div data-ng-show="error" class="text-center text-danger">
            <strong data-ng-bind="error"></strong>
          </div>
        </div>
        <input type="submit" class="btn form-control text-primary btn-lg" value="Ingresa">
        <div class="text-center">
					<a href="/#!/password/forgot">Olvidé mi contraseña</a>
				</div>
      </form>
      <div class="to-login-switch">
        <p>¿Es tu primera vez en la plataforma?</p>
        <a href="/#!/firstsignin" class="text-white">Regístrate aquí</a>
      </div>
      <div class="copyright">
        <small>Hipermercados Tottus SA.</small>
      </div>
    </div>
  </div>
</div>