<div data-ng-controller="CommentsController">
    <div class="bg-white p-14">
        <form name="commentForm" data-ng-submit="addComment()" class="signin" novalidate autocomplete="off">
            <div class="form-group" ng-class="{ 'has-error': commentForm.text.$dirty && commentForm.text.$invalid }">
                <textarea data-ng-enter="addComment()" name="text" data-ng-model="text" id="text" class="form-control" rows="5" placeholder="Escribe un comentario"></textarea>
            </div>
            <div class="form-group text-right">
                <input type="submit" class="btn btn-default btn-sm" value="Comentar">
            </div>
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </form>
    </div>
</div>
