<div class="benefits">
	<div class="separator bg-gray-light p-14">
		<span>Cargo</span>
	</div>
	<div class="list">
		<a href="#!/benefits/benefit" class="item item-thumbnail-left bg-white">
			<div class="col-xs-3">
				<img src="assets/img/img-sq.png" alt="" class="img-thumbnail">
			</div>
			<div class="col-xs-8 pv-28">
				<span class="bold text-gray-dark">Tarjeta Somos Salud</span><br>
				<span class="small text-gray">Vigencia hasta diciembre del 2014</span>
			</div>
			<div class="item-go">
				<i class="icon-arrow-right-filled"></i>
			</div>
		</a>
		<a href="#" class="item item-thumbnail-left bg-white">
			<div class="col-xs-3">
				<img src="assets/img/img-sq.png" alt="" class="img-thumbnail">
			</div>
			<div class="col-xs-8 pv-28">
				<span class="bold text-gray-dark">Tarjeta Somos Salud</span><br>
				<span class="small text-gray">Vigencia hasta diciembre del 2014</span>
			</div>
		</a>
	</div>
</div>