<section data-ng-controller="PostsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Posts</h1>
    </div>

    <div class="list-group">
        <div class="row" data-ng-repeat="post in posts" ng-class-odd="odd">
            <div class="col-xs-10">
                <p data-ng-bind="post.detail"></p>
                <b class="list-group-item-text">
                    Posted on
                    <span data-ng-bind="post.created | date:'mediumDate'"></span>
                    by
                    <span data-ng-bind="post.user.personal.displayName"></span>
                </b>
            </div>
            <div class="col-xs-2">
                <a data-ng-href="#!/posts/{{post._id}}" data-ng-show="authentication.user._id == post.user._id">View &raquo;</a>
            </div>   
        </div>
    </div>

    <a class="btn btn-primary" href="/#!/posts/new">Create one</a>
</section>
