<div>
    <div class="container-fluid">
        <div class="clearfix">
            <section data-ng-controller="PostsController" data-ng-init="find()">
                <div data-ng-repeat="post in posts" ng-class-odd="odd">
                    <div class="posts-index-item">
                        <div class="meta">
                            <span class="benefit">Beneficios</span>
                        </div>
                        <div class="user">
                            <div class="user-card">
                                <div class="profile-pic col-xs-2">
                                  <a data-ng-href="#!/users/{{post.user._id}}"><img src="assets/img/user-placeholder-2.png" /></a>
                                </div>
                                <div class="info col-xs-10">
                                  <p>
                                    <a data-ng-href="#!/users/{{post.user._id}}" class="name" >{{ post.user.personal.displayName }}</a><br> <span class="job-position">Gerente Gral.</span><br>El <span class="area">Tottus Atocongo</span> en <span data-ng-bind="post.created | date:'mediumDate'"></span>
                                  </p>
                                </div>
                            </div>
                        </div>
                        <div class="content-text-placeholder">
                            <a data-ng-href="#!/posts/{{post._id}}" data-ng-bind="post.detail"></a>
                            <!-- <a data-ng-href="#!/posts/{{post._id}}" class="see-more">Ver más..</a> -->
                        </div>
                        <div data-ng-show="{{post.imgFilePath | imageFilter}}" class="content-img-placeholder">
                            <a data-ng-href="#!/posts/{{post._id}}"><img data-ng-src="{{post.imgFilePath}}" /></a>
                        </div>
                        <ul class="counts-and-share list-unstyled">
                            <li class="counts-likes"><a href="#!">{{post.likes.length}} Me Gusta</a></li>
                            <li class="counts-comments"><a href="#!">{{post.comments.length}} Comentarios</a></li>
                            <!-- <li class="share"><a href="#!">Compartir</a></li> -->
                        </ul>
                        <div class="actions">
                            <div ng-cloak class="col-xs-6 data-ng-cloak">
                                <div ng-if="post.ng_like == false">
                                    <a ng-click="like_list_posts(post._id, post)" class="btn btn-action active">Me Gusta</a>
                                </div>
                                <div ng-if="post.ng_like == true">
                                    <a class="btn btn-action ">Te Gusta</a>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <a href="#!/posts/{{post._id}}/comments/new" class="btn btn-action">Comentar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


