<div data-ng-controller="PostsController">
    <div class="bg-white p-14">
        <form name="postForm" data-ng-submit="new()" class="signin form-horizontal" novalidate autocomplete="off">
            <div class="form-group" ng-class="{ 'has-error': postForm.detail.$dirty && postForm.detail.$invalid }">
                <div class="controls">
                    <textarea name="detail" data-ng-model="detail" id="detail" class="form-control" rows="5" placeholder="¿Qué estás pensando?" autofocus="autofocus"></textarea>
                </div>
            </div>
            <div class="form-group text-right">
                <input type="submit" class="btn btn-default" value="Publicar">
            </div>
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </form>
    </div>
</div>