.posts-index-item,
.posts-show-item {
	background: white;
	min-height: 210px;
	border-radius: $border-radius-base;
	margin-top: $container-fluid;
	@include box-shadow-default;
	position: relative;
	padding-top: $container-fluid * 3;
	div {
		@include clearfix;
	}
	.meta {
		padding: $container-fluid;
	}
	.meta {
		text-align: right;
		@include position(absolute, 0 21px null 0);
		width: 100%;
		span {
			display: block;
			font-size: 10px;
			color: $gray;
			&:after {
				content: " ";
				width: 7px;
				height: 7px;
				border-radius: 50%;
				display: block;
				float: right;
				margin-top: 4px;
				margin-left: 7px;
			}
			&.benefit {
				&:after {
					border: 1px solid $brand-primary;
				}
			}
			&.benefit.pinned {
				&:after {
					background: $brand-primary;
				}
			}
		}
	}
	.user-card {
		
	}
	.content-text-placeholder {
		padding: $container-fluid;
		p,
		a {
			font-size: $font-size-base;
			color: $gray-dark;
			&:hover {
				color: $gray-dark;
				text-decoration: none;
			}
		}
	}
	.content-img-placeholder {
		margin-left: -($container-fluid / 2);
		margin-right: -($container-fluid / 2);
		@include box-shadow-default;
		border: 1px solid white;
		margin-bottom: $container-fluid;
		a {
			display: block;
			img {
				width: 100%;
			}
		}
	}
	.counts-and-share { 
		@include clearfix;
		padding: $container-fluid;
		li {
			display: block;
			a {
				color: $gray-light;
			}
			&.counts-likes,
			&.counts-comments {
				float: left;
			}
			&.share {
				float: right;
			}
			&.counts-comments {
				padding-left: $container-fluid;
			}
		}
	}
	.actions {
		border-top: 1px solid $gray-lighter;
		text-align: center;
		padding: 12px 0;
		> div:first-child {
			border-right: 1px solid $gray-lighter;
		}
	}
}

.post-show-comments {
	margin-top: $container-fluid;
	.panel-title {
		padding: $container-fluid ($container-fluid * 2);
	}
	ul {
		padding: $container-fluid * 2;
		@include list-unstyled;
		li {
			@include clearfix;
			.profile-pic {
				a {
					display: block;
					img {
						width: 35px;
						height: 35px;
						border-radius: $border-radius-base;
					}
				}
				padding-right: 0;
			}
			.comment-content {
				padding: 3px 0;
				p {
					font-size: 12px;
					a {
						color: $gray-darker;
						@include medium;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}

// POST NEW
.upload-field {
	position: relative;
	input.upload-input {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		font-size: 20px;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity=0);
	}
	a {
		font-size: 21px;
		color: $gray;
	}
}