<section class="row" data-ng-controller="PostController">
    <h3 class="col-md-12 text-center">Write a new Post</h3> 
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
        <form name="postForm" data-ng-submit="create()" class="signin form-horizontal" novalidate autocomplete="off">
            <fieldset>
                <div class="form-group">
                    <label for="detail">Detail</label>
                    <input type="text" required id="detail" name="detail" class="form-control" data-ng-model="data.detail" placeholder="First Name">
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-large btn-primary">Create</button>
                </div>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>