<div>
  <div class="container pt-14" data-ng-controller="SettingsController">
    <div class="panel panel-tabs">
      <a href="#" class="edit">Editar</a>
      <div class="user-card">
        <div class="profile-pic col-xs-2">
          <a href="#"><img src="assets/img/user-placeholder-2.png" /></a>
        </div>
        <div class="info col-xs-10">
          <p>
            <a href="#" class="name">Hana Ego-Aguirre Dabdoub</a><br> <span class="job-position">Gerente Gral.</span> en <span class="area">Tottus Atocongo</span>
          </p>
        </div>
      </div>
      <div class="tabs p-ch-0">
        <div class="col-xs-6">
          <a href="#" class="btn btn-tabs">Publicaciones</a>
        </div>
        <div class="col-xs-6">
          <a href="#" class="btn btn-tabs active">Información</a>
        </div>
      </div>
    </div>
    <div class="panel panel-highlight">
      <a href="#" class="edit" data-ng-click="personalInfo = !personalInfo"><span data-ng-show="personalInfo" class="text-danger">Cancelar</span><span data-ng-show="!personalInfo">Editar</span></a>
      <div class="p-14">
        <h3 class="panel-title">Información personal</h3>
        <div class="panel-row">
          <label>Nombre de usuario: <a href="#" class="edit" data-ng-show="personalInfo">Editar</a></label>
          <span>{{user.username}}</span>
        </div>
        <div class="panel-row">
          <label>Correo electrónico: <a href="#" class="edit" data-ng-show="personalInfo">Editar</a></label>
          <span>{{user.email}}</span>
        </div>
        <div class="panel-row">
          <label for="DNI">DNI: <a href="#" class="edit" data-ng-show="personalInfo">Editar</a></label>
          <span>{{user.personal.DNI}}</span>
        </div>
        <div class="panel-row">
          <label>¿Cuentas con Carnet CONADIS?: <a href="#" class="edit" data-ng-show="personalInfo">Editar</a></label>
          <span>{{user.personal.carnetCONADIS}}</span>
        </div>
        <div class="panel-row">
          <label for="dateOfBirth">Cumpleaños: <a href="#" class="edit" data-ng-show="personalInfo">Editar</a></label>
          <span>{{user.personal.dateOfBirth | date: 'd/M/yyyy'}}</span>
        </div>
      </div>
    </div>
    <div class="panel panel-highlight">
      <a href="#" class="edit" data-ng-click="jobInfo = !jobInfo"><span data-ng-show="jobInfo" class="text-danger">Cancelar</span><span data-ng-show="!jobInfo">Editar</span></a>
      <div class="p-14">
        <h3 class="panel-title">Información laboral</h3>
        <div class="panel-row">
          <label for="currentJobPosition">Cargo Actual: <a href="#" class="edit" data-ng-show="jobInfo">Editar</a></label>
          <span></span>
        </div>
        <div class="panel-row">
          <label for="area">Sección: <a href="#" class="edit" data-ng-show="jobInfo">Editar</a></label>
          <span></span>
        </div>
        <div class="panel-row">
          <label for="branch">Unidad / Tienda: <a href="#" class="edit" data-ng-show="jobInfo">Editar</a></label>
          <span></span>
        </div>
        <div class="panel-row">
          <label for="branchId">Número de Unidad: <a href="#" class="edit" data-ng-show="jobInfo">Editar</a></label>
          <span></span>
        </div>
        <div class="panel-row">
          <label for="jobType">Modalidad de Trabajo: <a href="#" class="edit" data-ng-show="jobInfo">Editar</a></label>
          <span></span>
        </div>
      </div>
    </div>
    <div class="panel panel-highlight">
      <a href="#" class="edit" data-ng-click="contactInfo = !contactInfo"><span data-ng-show="contactInfo" class="text-danger">Cancelar</span><span data-ng-show="!contactInfo">Editar</span></a>
      <div class="p-14">
        <h3 class="panel-title">Información de contacto</h3>
        <div class="panel-row">
          <label for="address">Dirección: <a href="#" class="edit" data-ng-show="contactInfo">Editar</a></label>
          <span></span>
        </div>
        <div class="panel-row">
          <label for="city">Ciudad: <a href="#" class="edit" data-ng-show="contactInfo">Editar</a></label>
          <span></span>
        </div>
        <div class="panel-row">
          <label for="phoneNumTottus">Celular Tottus: <a href="#" class="edit" data-ng-show="contactInfo">Editar</a></label>
          <span></span>
        </div>
        <div class="panel-row">
          <label for="phoneNumHome">Teléfono de domicilio: <a href="#" class="edit" data-ng-show="contactInfo">Editar</a></label>
          <span></span>
        </div>
      </div>
    </div>
    <div class="panel panel-highlight">
      <a href="#" class="edit" data-ng-click="extraInfo = !extraInfo"><span data-ng-show="extraInfo" class="text-danger">Cancelar</span><span data-ng-show="!extraInfo">Editar</span></a>
      <div class="p-14">
        <h3 class="panel-title">Información adicional</h3>
        <div class="panel-row">
          <label for="educationLevel">Nivel de instrucción: <a href="#" class="edit" data-ng-show="extraInfo">Editar</a></label>
          <span></span>
        </div>
        <div class="panel-row">
          <label for="maritalStatus">Estado civil: <a href="#" class="edit" data-ng-show="extraInfo">Editar</a></label>
          <span></span>
        </div>
        <div class="panel-row">
          <label for="children">Número de Hijos: <a href="#" class="edit" data-ng-show="extraInfo">Editar</a></label>
          <span></span>
        </div>
        <div class="panel-row">
          <label for="interests">Intereses o Hobbies: <a href="#" class="edit" data-ng-show="extraInfo">Editar</a></label>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</div>