<div class="site-wrapper">
	<div class="nav-view-action-bar">
    <ul class="list-unstyled clearfix">
      <!-- <li class="view-left-action"><a href="#"><i class="icon-arrow-back-filled"></i></a></li> -->
      <li class="logo"><a href="#"><img src="assets/img/logo-somos-tottus-vertical-light.png" alt="SomosTottus"></a></li>
      <!-- <li class="view-action-button"><a href="#" class="btn">Acción</a></li> -->
    </ul>
  </div>
  <div class="nav-view-indicator">
    <span>Indicador</span>
  </div>
	<div class="content-wrapper bg-white">
		<form class="form-custom-full-width" name="userForm" data-ng-submit="firstupdateUserProfile(userForm.$valid)" autocomplete="off">
			<div class="section-heading">Información De Contacto</div>
			<div class="form-group">
				<label for="email">Correo Electrónico</label>
				<input type="text" class="form-control" value="hana@somostottus.pe" id="email" name="email" data-ng-model="user.email">
				<div data-ng-show="error" class="text-danger">
	        <small class="help-block" data-ng-bind="error"></small>
			  </div>
			</div>
			<div class="form-group">
				<label for="address">Dirección</label>
				<textarea class="form-control" value="Angamos 25 int. 350" id="address" name="address" data-ng-model="user.address.address"></textarea>
			</div>
			<div class="form-group">
				<label for="city">Ciudad</label>
				<input type="text" class="form-control" value="Lima" id="city" name="city" data-ng-model="user.address.city">
			</div>
			<div class="form-group">
				<label for="phoneNumTottus">Celular Tottus</label>
				<input type="text" class="form-control" value="980504023" id="phoneNumTottus" name="phoneNumTottus" data-ng-model="user.organizational.phoneNumTottus">
			</div>
			<div class="section-heading">Información Personal</div>
			<div class="form-group has-error">
				<label for="firstName">Nombre</label>
				<input type="text" class="form-control" value="Nombre" id="firstName" name="firstName" data-ng-model="user.personal.firstName">
				<small class="help-block">Debes ingresar un nombre real</small>
			</div>
			<div class="form-group">
				<label for="lastName">Apellido</label>
				<input type="text" class="form-control" value="Apellido" id="lastName" name="lastName" data-ng-model="user.personal.lastName">
			</div>
			<div class="form-group">
				<label for="DNI">DNI</label>
				<input type="text" class="form-control" value="DNI" id="DNI" name="DNI" data-ng-model="user.personal.DNI">
			</div>
			<div class="form-group">
				<label for="carnetCONADIS">carnetCONADIS</label>
				<input type="text" class="form-control" value="carnetCONADIS" id="carnetCONADIS" name="carnetCONADIS" data-ng-model="user.organizational.carnetCONADIS">
			</div>
			<div class="form-group">
				<label for="dateOfBirth">Fecha de Nachimiento</label>
				<input type="text" class="form-control" value="26/12/1989" id="dateOfBirth" name="dateOfBirth" data-ng-model="user.personal.dateOfBirth">
			</div>
			<div class="section-heading">Información Laboral</div>
			<div class="form-group">
				<label for="currentJobPosition">Cargo Actual</label>
				<input type="text" class="form-control" value="Escribe tu posición actual" id="currentJobPosition" name="currentJobPosition" data-ng-model="user.organizational.currentJobPosition">
			</div>
			<div class="form-group">
				<label for="area">Sección</label>
				<input type="text" class="form-control" value="Escribe tu sección actual" id="area" name="area" data-ng-model="user.organizational.area">
			</div>
			<div class="form-group">
				<label for="branch">Unidad / Tienda</label>
				<input type="text" class="form-control" value="Escribe tu unidad actual" id="branch" name="branch" data-ng-model="user.organizational.branch">
			</div>
			<div class="form-group">
				<label for="branchId">Número de Unidad</label>
				<input type="text" class="form-control" value="Escribe número de tu unidad" id="branchId" name="branchId" data-ng-model="user.organizational.branchId">
			</div>
	</div>
	<div class="nav-subnav-tabs">
		<div class="container-fluid">
			<ul class="list-unstyled row">
				<!-- <li class="col-xs-4 posts-index">
					<a href="#"><i class="icon-tottus"></i></a>
				</li> -->
				<li class="col-xs-12 notifications-index">
					<!-- <a href="#"><i class="icon-bell-filled"></i></a> -->
					<input type="submit" value="Confirmar" class="btn btn-primary">
				</li>
				<!-- <li class="col-xs-4 nav-drawer">
					<a href="#"><i class="icon-options-filled"></i></a>
				</li> -->
			</ul>
		</div>
	</div>
		</form>
</div>