<div ng-controller="ModalController" data-ng-init="modalFirstProfileUpdate()"></div>

<div class="site-wrapper" data-ng-controller="SettingsController">
    <div class="nav-view-action-bar">
    <ul class="list-unstyled clearfix">
      <!-- <li class="view-left-action"><a href="#"><i class="icon-arrow-back-filled"></i></a></li> -->
      <li class="logo"><a href="#"><img src="assets/img/logo-somos-tottus-vertical-light.png" alt="SomosTottus"></a></li>
      <!-- <li class="view-action-button"><a href="#" class="btn">Acción</a></li> -->
    </ul>
  </div>
  <div class="nav-view-indicator">
    <span>Datos de Usuario</span>
  </div>
    <form class="form-custom-full-width" name="userForm" data-ng-submit="firstupdateUserProfile(userForm.$valid)" autocomplete="off">
        <div class="content-wrapper bg-white">
            <div class="section-heading">Información De Contacto</div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" ng-focus="username = !username" ng-blur="username = !username">
                <small class="help-block" ng-show="username">Así se mostrará en Somos Tottus</small>
            </div>
            <div class="form-group">
                <label for="email">Correo Electrónico</label>
                <input type="text" class="form-control" id="email" name="email" data-ng-model="user.email">
                <small class="help-block">En caso de olvidar tu contraseña enviaremos información al correo que coloques aquí. Asegúrate de incluir un correo actualizado.</small>
            </div>
            <div class="form-group">
                <label for="address">Dirección</label>
                <textarea class="form-control" id="address" name="address" data-ng-model="user.address.address"></textarea>
            </div>
            <div class="form-group">
                <label for="city">Ciudad</label>
                <input type="text" class="form-control" id="city" name="city" data-ng-model="user.address.city">
            </div>
            <div class="form-group">
                <label for="phoneNumTottus">Celular Tottus</label>
                <input type="text" class="form-control" id="phoneNumTottus" name="phoneNumTottus" data-ng-model="user.organizational.phoneNumTottus">
            </div>
            <div class="section-heading">Información Personal</div>
            <div class="form-group">
                <label for="firstName">Nombre</label>
                <input type="text" class="form-control" id="firstName" name="firstName" data-ng-model="user.personal.firstName">
                <!-- <small class="help-block">Debes ingresar un nombre real</small> -->
            </div>
            <div class="form-group">
                <label for="lastName">Apellido</label>
                <input type="text" class="form-control" id="lastName" name="lastName" data-ng-model="user.personal.lastName">
            </div>
            <div class="form-group">
                <label for="DNI">DNI</label>
                <input type="text" class="form-control" id="DNI" name="DNI" data-ng-model="user.personal.DNI">
            </div>
            <div class="form-group toggle-switch">
                <div class="label-name">
                    <span>¿Cuentas con Carnet CONADIS?</span>
                </div>
                <div class="toggle">
                    <input type="checkbox" id="carnetCONADIS" name="carnetCONADIS" data-ng-model="user.personal.carnetCODADIS">
                    <label for="carnetCONADIS">
                        <div class="toggle-handle"></div>
                    </label>
                </div>
            </div>
            <!-- <div class="form-group">
                <label for="carnetCONADIS">carnetCONADIS</label>
                <input type="text" class="form-control" id="carnetCONADIS" name="carnetCONADIS" data-ng-model="user.organizational.carnetCONADIS">
            </div> -->
            <div class="form-group">
                <label for="dateOfBirth">Cumpleaños</label>
                <input type="text" class="form-control" id="dateOfBirth" name="dateOfBirth" data-ng-model="user.personal.dateOfBirth">
            </div>
            <div class="form-group">
                <label for="educationLevel">Nivel de instrucción</label>
                <select name="educationLevel" id="educationLevel" class="form-control select-override" data-ng-model="user.personal.educationLevel">
                    <option value="Secundaria completa" ng-selected="selected">Secundaria completa</option>
                    <option value="Técnica Completa">Técnica Completa</option>
                    <option value="Técnica incompleta">Técnica incompleta</option>
                    <option value="Universitaria Completa">Universitaria Completa</option>
                    <option value="Universitaria Incompleta">Universitaria Incompleta</option>
                    <option value="PostGrado">PostGrado</option>
                </select>
            </div>
            <div class="form-group">
                <label for="maritalStatus">Estado civil</label>
                <select name="maritalStatus" id="maritalStatus" class="form-control select-override" data-ng-model="user.demographic.maritalStatus">
                    <option value="Soltero" ng-selected="selected">Soltero</option>
                    <option value="Casado">Casado</option>
                    <option value="Viudo">Viudo</option>
                    <option value="Divorciado">Divorciado</option>
                    <option value="En una relación">En una relación</option>
                </select>
            </div>
            <div class="form-group">
                <label for="children">Número de hijos</label>
                <input type="number" class="form-control" id="children" name="children" data-ng-model="user.demographic.children" value="0">
            </div>
            <div class="form-group">
                <label for="interests">Intereses o Hobbies</label>
                <textarea class="form-control" id="interests" name="interests" data-ng-model="user.personal.interests"></textarea>
            </div>
            <div class="form-group">
                <label for="phoneNumHome">Teléfono de domicilio</label>
                <input type="text" class="form-control" id="phoneNumHome" name="phoneNumHome" data-ng-model="user.contact.phoneNumHome">
            </div>
            <div class="section-heading">Información Laboral</div>
            <div class="form-group">
                <label for="currentJobPosition">Cargo Actual</label>
                <input type="text" class="form-control" id="currentJobPosition" name="currentJobPosition" data-ng-model="user.organizational.currentJobPosition">
            </div>
            <div class="form-group">
                <label for="jobPositionsHistory">Línea de carrera</label>
                <textarea class="form-control" id="jobPositionsHistory" name="jobPositionsHistory" data-ng-model="user.organizational.jobPositionsHistory"></textarea>
            </div>
            <div class="form-group">
                <label for="firstJobPosition">Ingresé a Tottus como</label>
                <select name="firstJobPosition" id="firstJobPosition" class="form-control select-override" data-ng-model="user.organizational.firstJobPosition">
                    <option value="opcion-1">Opción 1</option>
                    <option value="opcion-2">Opción 2</option>
                    <option value="opcion-3">Opción 3</option>
                </select>
            </div>
            <div class="form-group">
                <label for="area">Sección</label>
                <input type="text" class="form-control" value="Escribe tu sección actual" id="area" name="area" data-ng-model="user.organizational.area">
            </div>
            <div class="form-group">
                <label for="branch">Unidad / Tienda</label>
                <input type="text" class="form-control" value="Escribe tu unidad actual" id="branch" name="branch" data-ng-model="user.organizational.branch">
            </div>
            <div class="form-group">
                <label for="branchId">Número de Unidad</label>
                <input type="text" class="form-control" value="Escribe número de tu unidad" id="branchId" name="branchId" data-ng-model="user.organizational.branchId">
            </div>
            <div class="form-group">
                <label for="jobType">Modalidad de Trabajo</label>
                <input type="text" class="form-control" value="Modalidad de trabajo" id="jobType" name="jobType" data-ng-model="user.organizational.jobType">
            </div>
            <div data-ng-show="error" class="text-center text-danger">
              <strong data-ng-bind="error"></strong>
            </div>
        </div>
        <!-- <div class="nav-subnav-tabs">
            <div class="container-fluid">
                <ul class="list-unstyled row">
                    <li class="col-xs-4 posts-index">
                        <a href="#"><i class="icon-tottus"></i></a>
                    </li>
                    <li class="col-xs-12 notifications-index">
                        <a href="#"><i class="icon-bell-filled"></i></a>
                    </li>
                    <li class="col-xs-4 nav-drawer">
                        <a href="#"><i class="icon-options-filled"></i></a>
                    </li>
                </ul>
            </div>
        </div> -->
        <div class="text-center p-21">
            <input type="submit" value="Confirmar datos" class="btn btn-primary btn-lg">
        </div>
    </form>
</div>
