<div>
  <div class="container pt-14" data-ng-controller="UsersController" data-ng-init="find();">
    <div class="panel panel-tabs">
      <a href="#" class="edit">Editar</a>
      <div class="user-card">
        <div class="profile-pic col-xs-2">
          <a href="#"><img src="assets/img/user-placeholder-2.png" /></a>
        </div>
        <div class="info col-xs-10">
          <p>
            <a href="#" class="name">{{ user.personal.firstName }} {{ user.personal.lastName }}</a><br> <span class="job-position">Gerente Gral.</span> en <span class="area">Tottus Atocongo</span>
          </p>
        </div>
      </div>
      <div class="tabs p-ch-0">
        <div class="col-xs-6">
          <a href="#" class="btn btn-tabs active">Publicaciones</a>
        </div>
        <div class="col-xs-6">
          <a href="#" class="btn btn-tabs">Información</a>
        </div>
      </div>
    </div>
  </div>
</div>
