<div>
  <div class="container pt-14" data-ng-controller="UsersController" data-ng-init="find();">
    <div class="panel panel-tabs">
      <!-- <a href="#" class="edit">Editar</a> -->
      <div class="user-card">
        <div class="profile-pic col-xs-2">
          <a href="#" style="background-image: url({{userProfile.assets.profilePicURL}})"></a>
        </div>
        <div class="info col-xs-10">
          <p>
            <a href="#" class="name">{{ userProfile.personal.displayName }}</a><br> <span class="job-position">{{userProfile.organizational.currentJobPosition}}</span> en <span class="area">{{userProfile.organizational.branch}}</span>
          </p>
        </div>
      </div>
      <!-- {{user}} -->
      <div class="tabs p-ch-0">
        <div class="col-xs-6">
          <a href="#" data-ng-click="switchPublicProfile('posts')" class="btn btn-tabs {{showProfile.userPosts}}">Publicaciones</a>
        </div>
        <div class="col-xs-6">
          <a href="#" data-ng-click="switchPublicProfile('profile')" class="btn btn-tabs {{showProfile.personalInfo}}">Información</a>
        </div>
      </div>
    </div>
    <!-- Inicio de sección profile -->
    <div data-ng-show="showProfile.statePersonalInfo">
      <div class="panel panel-highlight">
        <a data-ng-href="#!/settings/profile" class="edit"><span data-ng-show="canEdit();">Editar</span></a>
        <div class="p-14">
          <h3 class="panel-title">Información personal</h3>
          <div class="panel-row">
            <label>Nombre de usuario:</label>
            <span>{{userProfile.username}}</span>
          </div>
          <div class="panel-row">
            <label>Correo electrónico:</label>
            <span>{{userProfile.email}}</span>
          </div>
          <div class="panel-row">
            <label for="DNI">DNI:</label>
            <span>{{userProfile.personal.DNI}}</span>
          </div>
          <!-- <div class="panel-row">
            <label>¿Cuentas con Carnet CONADIS?:</label>
            <span>{{userProfile.personal.carnetCONADIS}}</span>
          </div> -->
          <div class="panel-row" data-ng-if="userProfile.personal.showBirthYear">
            <label for="dateOfBirth">Fecha de Nacimiento:</label>
            <span>{{userProfile.personal.dateOfBirth | amDateFormat:"D [de] MMMM [de] YYYY" }}</span>
          </div>
          <div class="panel-row" data-ng-if="!userProfile.personal.showBirthYear">
            <label for="dateOfBirth">Fecha de Nacimiento:</label>
            <span>{{userProfile.personal.dateOfBirth | amDateFormat:"D [de] MMMM"}}</span>
          </div>
        </div>
      </div>
      <div class="panel panel-highlight">
        <a data-ng-href="#!/settings/profile" class="edit"><span data-ng-show="canEdit();">Editar</span></a>
        <div class="p-14">
          <h3 class="panel-title">Información laboral</h3>
          <div class="panel-row">
            <label for="currentJobPosition">Cargo Actual:</label>
            <span>{{userProfile.organizational.currentJobPosition}}</span>
          </div>
          <div class="panel-row">
            <label for="area">Sección:</label>
            <span>{{userProfile.organizational.area}}</span>
          </div>
          <div class="panel-row">
            <label for="branch">Unidad / Tienda:</label>
            <span>{{userProfile.organizational.branch}}</span>
          </div>
          <!-- <div class="panel-row">
            <label for="branchId">Número de Unidad:</label>
            <span>{{userProfile.organizational.branchId}}</span>
          </div> -->
          <!-- <div class="panel-row">
            <label for="jobType">Modalidad de Trabajo:</label>
            <span>{{userProfile.organizational.jobType}}</span>
          </div> -->
        </div>
      </div>
      <!-- <div class="panel panel-highlight">
        <a data-ng-href="#!/settings/profile" class="edit"><span data-ng-show="!personalInfo">Editar</span></a>
        <div class="p-14">
          <h3 class="panel-title">Información de contacto</h3>
          <div class="panel-row">
            <label for="address">Dirección:</label>
            <span>{{userProfile.address.address}}</span>
          </div>
          <div class="panel-row">
            <label for="city">Ciudad:</label>
            <span>{{userProfile.address.city}}</span>
          </div>
          <div class="panel-row">
            <label for="phoneNumTottus">Celular Tottus:</label>
            <span>{{userProfile.organizational.phoneNumTottus}}</span>
          </div>
          <div class="panel-row">
            <label for="phoneNumHome">Teléfono de domicilio:</label>
            <span>{{userProfile.contact.phoneNumHome}}</span>
          </div>
        </div>
      </div> -->
      <!-- <div class="panel panel-highlight">
        <a data-ng-href="#!/settings/profile" class="edit"><span data-ng-show="!personalInfo">Editar</span></a>
        <div class="p-14">
          <h3 class="panel-title">Información adicional</h3>
          <div class="panel-row">
            <label for="educationLevel">Nivel de instrucción:</label>
            <span>{{userProfile.personal.educationLevel}}</span>
          </div>
          <div class="panel-row">
            <label for="maritalStatus">Estado civil:</label>
            <span>{{userProfile.demographic.maritalStatus}}</span>
          </div>
          <div class="panel-row">
            <label for="children">Número de Hijos:</label>
            <span>{{userProfile.demographic.children}}</span>
          </div>
          <div class="panel-row">
            <label for="interests">Intereses o Hobbies:</label>
            <span>{{userProfile.personal.interests}}</span>
          </div>
        </div>
      </div> -->
    </div>
    <!-- Fin de sección profile-->
    <!-- Inicio de sección publicaciones -->
    <div data-ng-show="showProfile.statePosts">
        <div class="container-fluid">
          <div class="clearfix">
          <section data-ng-controller="PostsController">
            <div data-ng-repeat="post in posts" ng-class-odd="odd">
                <div class="posts-index-item">
                    <div class="meta">
                      <a class="benefit" data-ng-if="canRemove(post)" confirm-click="¿Estás seguro de querer eliminar el post?" confirmed-click="removeFromProfile(post);">Eliminar</a>
                      <!-- <span class="benefit"></span> -->
                    </div>
                    <div class="user">
                        <div class="user-card">
                          <div class="profile-pic col-xs-2">
                              <a data-ng-href="#!/users/{{post.user._id}}" style="background-image: url({{post.user.assets.profilePicURL}})"></a>
                          </div>
                            <div class="info col-xs-10">
                              <p>
                                <a data-ng-href="#!/users/{{post.user._id}}" class="name" >{{ post.user.personal.displayName }}</a><br> <span class="job-position">{{userProfile.organizational.currentJobPosition}}</span> en <span class="area">{{userProfile.organizational.branch}}</span><br><span data-ng-bind="post.created | date:'mediumDate'"></span>
                              </p>
                            </div>
                        </div>
                    </div>
                    <div class="content-text-placeholder">
                        <a data-ng-href="#!/posts/{{post._id}}" data-ng-bind="post.detail"></a>
                        <!-- <a data-ng-href="#!/posts/{{post._id}}" class="see-more">Ver más..</a> -->
                    </div>
                    <div data-ng-show="(post.imgFilePath | imageFilter)" class="content-img-placeholder">
                        <a data-ng-href="#!/posts/{{post._id}}"><img lazy-src="{{post.imgFilePath}}" data-ng-src="{{post.imgFilePath}}" /></a>
                    </div>
                    <ul class="counts-and-share list-unstyled">
                        <li class="counts-likes"><a href="#!">{{post.likes.length}} Me Gusta</a></li>
                        <li class="counts-comments"><a href="#!">{{post.comments.length}} Comentarios</a></li>
                        <!-- <li class="share"><a href="#!">Compartir</a></li> -->
                    </ul>
                    <div class="actions">
                        <div ng-cloak class="col-xs-6 data-ng-cloak">
                            <div ng-if="post.ngLike == false">
                                <a ng-click="like(post)" class="btn btn-action active">Me Gusta</a>
                            </div>
                            <div ng-if="post.ngLike == true">
                                <a class="btn btn-action ">Te Gusta</a>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <a href="#!/posts/{{post._id}}/comments/new" class="btn btn-action active">Comentar</a>
                        </div>
                    </div>
                </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <!-- Fin de sección publicaciones-->
  </div>
</div>
