<section data-ng-controller="EventsController" data-ng-init="find()">
	<div class="benefits">
		<div class="separator bg-gray-lighter p-7 uppercase">
			<span>Próximos eventos</span>
		</div>
		<div class="list">
			<a data-ng-repeat="evt in events" href="#!/events/{{evt._id}}" class="item item-thumbnail-left bg-white">
				<div class="col-xs-3">
					<img data-ng-src="{{evt.post.imgFilePath}}" alt="" class="img-thumbnail">
				</div>
				<div class="col-xs-8">
					<span class="bold text-gray-dark" data-ng-bind="evt.post.name"></span><br>
					<span class="small text-gray" data-ng-bind="evt.post.detail"></span><br>
					<div class="text-gray-light">
						<small>Inicio: {{ evt.start | date:'yyyy-MM-dd HH:ss a' }}</small> - 
						<small>Fin: {{ evt.end | date:'yyyy-MM-dd HH:ss a' }}</small>
					</div>
				</div>
				<div class="item-go">
					<i class="icon-arrow-right-filled"></i>
				</div>
				<div class="meta">
					<small class="event pinned">Eventos</small>
				</div>
			</a>
		</div>
	</div>
</section>
