<section data-ng-controller="EventsController" data-ng-init="findOne()">
<div class="container-fluid">
    <div class="posts-show-item">
        <div class="meta">
            <a data-ng-if="canRemove(evt)" confirm-click="¿Estás seguro de querer eliminar el evento?" confirmed-click="remove()">Eliminar</a>
            <span class="benefit" data-ng-bind="evt.post.category"></span>
        </div>
        <div class="content-text-placeholder">
            <h3 class="bold mb-0" data-ng-bind="evt.post.name"></h3>
            <span class="small">Publicado por {{evt.post.user.personal.displayName}} {{evt.created | amCalendar }}</span>
            <p class="pv-7" data-ng-bind="evt.post.detail"></p>
        </div>
        <div data-ng-show="(evt.post.imgFilePath | eventImageFilter)" class="content-img-placeholder">
            <a><img data-ng-src="{{evt.post.imgFilePath}}" /></a>
        </div>
        <!-- <div class="content-img-placeholder"></div> -->
        <div class="list pl-ch-21">
            <div class="item item-icon-left">
                <i class="icon-clock5 h3"></i>
                <div class="text-gray-light inline-block">
                    <small>Inicio: {{ evt.start | amDateFormat:"dddd D [de] MMM [a las] h:mm a" }}</small> -<br>
                    <small>Fin: {{ evt.end | amDateFormat:"dddd D [de] MMM [a las] h:mm a" }}</small>
                </div>
            </div>
            <div class="item item-icon-left">
                <i class="icon-marker-filled  h3"></i>
                <span class="text-gray-light">{{evt.location}}</span>
            </div>
        </div>
        <ul class="counts-and-share list-unstyled p-14 mb-0">
            <li class="counts-likes"><a data-ng-href="#!/events/{{evt._id}}/attendees">{{evt.attendees.length}} Asistente(s)</a></li>
            <li class="counts-comments"><a>{{evt.post.comments.length}} Comentarios</a></li>
        </ul>
        <div class="actions">
            <div class="ng-cloak col-xs-6">
                <div ng-if="evt.attended == false">
                    <a data-ng-click="registerAttendee()" class="btn btn-action active">Asistiré</a>
                </div>
                <div ng-if="evt.attended == true">
                    <a class="btn btn-action">Asistiré</a>
                </div>
            </div>
            <div class="col-xs-6">
                <a data-ng-href="#!/posts/{{evt.post._id}}/comments/new" class="btn btn-action active">Comentar</a>
            </div>
        </div>
    </div>
    <div class="post-show-comments">
        <div class="panel">
            <h4 class="panel-title">Comentarios</h4>
            <hr class="m-0">
            <ul data-ng-if="evt.post.comments.length > 0">
                <li data-ng-repeat="comment in evt.post.comments">
                    <div class="profile-pic col-xs-2">
                        <a data-ng-href="#!/users/{{evt.post.user._id}}" style="background-image: url({{comment.user.assets.profilePicURL}})"></a>
                    </div>
                    <div class="comment-content col-xs-10">
                        <p><a data-ng-href="#!/users/{{comment.user._id}}" >{{ comment.user.personal.displayName }}</a> {{ comment.text }}</p>
                        <span am-time-ago="comment.created"></span>
                    </div>
                </li>
            </ul>
            <p class="small m-14" data-ng-if="evt.post.comments.length == 0">Se el primero en comentar!</p>
        </div>
    </div>
</div>
</section>
