<section data-ng-controller="CommentsController" data-ng-init="getPost()">
    <div class="page-header">
        <h3>{{post.detail}}</h3>
        <small class="list-group-item-text">
            Posted on
            <span data-ng-bind="post.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="post.user.personal.displayName"></span>
        </small>
    </div>

    <div class="list-group">
        <a data-ng-repeat="comment in comments" data-ng-href="#!/posts/{{comment.post._id}}/comments/{{comment._id}}">
            <p class="list-group-item-text" data-ng-bind="comment.text"></p>
        </a>
    </div>
</section>