<section data-ng-controller="NotificationsController" data-ng-init="find()">
  <div class="benefits">
    <!-- <div class="separator bg-gray-lighter p-7 uppercase">
      <span>NOTIFICACIONES</span>
    </div> -->
    <div class="list">
      <a data-ng-repeat="ntfcn in notifications" data-ng-click="nextRedirect(ntfcn);" class="item item-thumbnail-left bg-white">
        <div class="col-xs-3">
          <div class="pic" style="background-image: url({{ntfcn.post.imgFilePath}})"></div>
        </div>
        <div class="col-xs-8">
          <span class="bold text-gray-dark" data-ng-bind="ntfcn.post.name"></span><br>
          <span class="small text-gray">{{ntfcn.post.detail | limitTo: detailLetterLimit}}...</span><br>
          <small><span data-ng-if="!ntfcn.isRead">Nuevo!</span></small>
        </div>
        <div class="item-go">
          <i class="icon-arrow-right-filled"></i>
        </div>
        <div class="meta">
          <small class="pinned">{{ntfcn.post.category}}</small> 
        </div>
      </a>
    </div>
  </div>
</section>
