<section data-ng-init="find()">
	<div class="benefits">
		<div class="separator bg-gray-lighter p-7 uppercase">
			<span>Próximos beneficios</span>
		</div>
		<div class="list">
			<a data-ng-repeat="benefit in benefits" href="#!/benefits/{{benefit._id}}" class="item item-thumbnail-left bg-white">
				<div class="col-xs-3">
					<img src="assets/img/img-sq.png" alt="" class="img-thumbnail">
				</div>
				<div class="col-xs-8">
					<span class="bold text-gray-dark" data-ng-bind="benefit.post.name"></span><br>
					<span class="small text-gray" data-ng-bind="benefit.post.detail"></span><br>
					<div class="text-gray-light">
						<small>Inicio: {{ benefit.start | date:'yyyy-MM-dd HH:ss a' }}</small> -
						<small>Fin: {{ benefit.end | date:'yyyy-MM-dd HH:ss a' }}</small>
					</div>
				</div>
				<div class="item-go">
					<i class="icon-arrow-right-filled"></i>
				</div>
				<div class="meta">
					<small class="benefit pinned">Beneficios</small>
				</div>
			</a>
		</div>
	</div>
</section>
