<section data-ng-init="find()">
	<div class="benefits">
		<div class="nav-drawer">
			<div class="center bg-white">
				<div class="list">
					<a href="#!/benefits/vivelo" class="item item-icon-left">
						<i class="icon-cart-filled bg-benefits"></i>
						<span>Vívelo</span>
					</a>
					<a href="#!/benefits/disfrutalo" class="item item-icon-left">
						<i class="icon-cart-filled bg-benefits"></i>
						<span>Disfrútalo</span>
					</a>
					<a href="#!/benefits/compartelo" class="item item-icon-left">
						<i class="icon-cart-filled bg-benefits"></i>
						<span>Compártelo</span>
					</a>
				    <a href="https://s3-sa-east-1.amazonaws.com/tottuscdn/docs/NI-Tutorial-4116-en.pdf" class="item item-icon-left" download>
				      <i class="icon-cart-filled bg-benefits"></i>
				      <span>Archivo Beneficios</span>
				    </a>
					</div>
			</div>
		</div>
	</div>
</section>
