<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Nueva Contraseña</h4>
  </div>
  <div class="modal-body">
    <p>Para brindarte la mejor experiencia requerimos que crees una nueva contraseña. Ésta será tu clave de acceso a Somos Tottus de ahora en adelante.</p>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
    <button type="button" class="btn btn-primary" ng-click="ok()" data-dismiss="modal">Entendido</button>
  </div>
</div>