<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Último Paso</h4>
  </div>
  <div class="modal-body">
    <p>Para aprovechar al máximo la plataforma, actualiza y/o confirma tu información. Una vez que termines, dale click en "Confirmar Datos" y vuelve a ingresar con tu nombre de usuario y nueva contraseña.</p>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
    <button type="button" class="btn btn-primary" ng-click="ok()" data-dismiss="modal">Entendido</button>
  </div>
</div>